/* Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans&display=swap");
/* CSS reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles  */
body {
  font-family: "Work Sans", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  max-width: 1290px;
  margin: 0 auto;
}

/* Navbar styles  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.logo {
  font-weight: 700;
  font-size: 25px;
}
.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items li {
  list-style: none;
}
.nav-items li a {
  text-decoration: none;
  margin-right: 25px;
  color: #424242;
  font-weight: 500;
}

/* Hero section styles  */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 65px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
.hero-title {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}
.hero-description {
  text-align: center;
  margin: 30px 0;
  color: #727272;
}
.btn-primary {
  border: none;
  color: #ffffff;
  background-color: #ff900e;
  border-radius: 10px;
  padding: 20px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  /* width: 50%; */
  font-size: 18px;
  margin: 0 auto;
}
.hero-image img {
  margin-top: 50px;
  width: 100%;
}

/* quick-features section styles  */
.quick-feature-container {
  display: flex;
  align-items: center;
  /* flex-grow: 1; */
  padding: 0 50px;
  margin: 130px 0;
}
.quick-feature-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.quick-feature-images img {
  width: 100%;
}
.quick-feature-content {
  /* display: flex; */
  margin-left: 70px;
  flex-grow: 1;
}
.quick-feature-title {
  font-size: 45px;
  font-weight: 500;
}
.quick-feature-description {
  text-align: left;
  margin: 30px 0;
  color: #727272;
}
.quick-feature-btn {
  margin: 0;
}

/* detail feature styles  */
/* detail feature content  */
.detail-feature-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 50px;
}

.detail-feature-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.detail-feature-description {
  font-weight: 400;
  margin-top: 24px;
  color: #727272;
}
.detail-feature-card-container {
  margin-top: 30px;
}
.detail-feature-card {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 30px;
}
.detail-feature-card-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.detail-feature-card-description {
  margin-top: 10px;
  font-weight: 400;
  color: #727272;
}

/* detail feature image  */
.detail-feature-image img {
  width: 100%;
}

/* Our work section styles  */
.our-work-container {
  margin-top: 130px;
}
.our-work-content {
  margin-bottom: 100px;
}
.our-work-title {
  font-weight: 700;
  font-size: 45px;
}
.our-work-description {
  margin-top: 24px;
  font-weight: 400;
  color: #727272;
}

.our-work-card-container {
  display: flex;
  justify-content: space-around;
  gap: 125px;
}
.our-work-card {
  border: 1px solid #ff900e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
}
.our-work-card > img {
  width: 45px;
}
.our-work-card > h3 {
  margin: 10px 0;
  font-weight: 600;
  font-size: 45px;
  color: #424242;
}
.our-work-card > p {
  font-weight: 600;
  font-size: 18px;
  color: #727272;
}
